{% extends 'layout.twig' %}

{% block body %}
  <div class = "index-content">
    <h1>G'ART AGE</h1>
    <p>Bienvenu sur la page d'acceuil</p>
    <div>
      <a class="btn btn-danger" href="/sign" role="button">Sign In</a>
      <a class="btn btn-danger" href="/login" role="button">Login</a>
    </div>
     <p class ="lor">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eaque quibusdam voluptatum eum laborum. Ipsam quia, sit perspiciatis vero, odit quaerat, nostrum laudantium earum inventore iusto aliquam. Suscipit iusto esse quisquam?</p>
  </div>
{% endblock %}
